
.sweets-img{
    padding: 40px 0px 60px 0px;
}
.sweets-img img{
width: 100%;
height: 200px;

border-radius: 20px;
}
.sweets-img   h4{
padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.best-seller-section .card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure cards stretch to match */
    min-height: 450px; /* Or any height you prefer */
  }
  
  .best-seller-section .card-img-top {
    height: 200px;
    object-fit: cover; /* Keep aspect ratio while filling */
    border-bottom: 1px solid #ddd;
  }
  
  .best-seller-section .card-body {
    flex: 1; /* Take remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart-page h2 ,p{
    font-family: 'Times New Roman', Times, serif;  
  }
  .cart-details h5{ 
 font-family: 'Times New Roman', Times, serif;
  }
 
  .cart-page-btn{
    width: 25%;
    border-radius: 10px;
    padding: 8px;
    background-color:rgb(219, 181, 104);
    display: flex;
    color: beige;
    font-size: 22px;
    font-weight: 500;
    margin: auto;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .cart-total{
    font-size: 26px;
    font-family:'Times New Roman', Times, serif;
   
  }
  .cart-total h5{
    padding-left: 40%;
  }
  .cart-total h4{
    padding-left: 40%;
    
  }
  /* ModalStyles.css */

.login-btn{
    border-radius: 10px;
    background-color:rgb(193, 2, 2);
    transition: 0.2s;
    color: beige; 
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.login-btn:hover{
  background-color: azure;
  border: 1px solid rgb(243, 191, 5);
  color: red;
}
.register-btn{
  cursor: pointer;
  text-decoration: blue underline;
  color: blue;
  font-weight: 500;
}
.login-dialog{
margin-top: 10% !important;
}